.contenedor
{
    margin: 0 auto;
    padding: 20px 0 0;
    width: 500px;
    min-height: 600px;
    background-color: #1640D6;
    text-align: center;
    border: 1px solid rgba(35, 152, 229, 0.5);
    border-radius: 8px;
    box-shadow: 0px 4px 8px 0 #222;
}
body
{
    background-color: #001B79;
}
.centro
{
    margin: 0 auto;
    width: fit-content;
}
button
{
    text-align: center;
    margin: 10px auto;
    padding: 20px;
    font-size: 40px;
    border: none;
    border-radius: 8px;
    background-color: #ED5AB3;
    color: #EEE;
    transition: all 0.5s ease;
}
button:hover
{
    cursor: pointer;
    margin: 25px auto;
    background-color: #FF90C2;
}
.imagen{
    width: 300px;
    display: block;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #ED5AB3;;
    box-shadow: 0 4px 20px #EEE;
    filter:brightness(100%);
    transition: all 0.5s ease;
}
.imagen:hover
{
    filter: brightness(130%);
    width: 350px;
    border: 4px solid #FF90C2;
}
h1
{
    color: #EEE;
    display: block;
    margin-bottom: 0;
}
.edad
{
    color: #ddd;
    margin-bottom: 20px;
}
.texto
{
    display: block;
    font-size: 35px;
    color: #ED5AB3;
    margin: 20px 0;
    min-height: 30%;
    font-weight: 800;
}
.iconos
{
    width: fit-content;
    display: flex;
    margin: 30px auto;
    padding: 20px;
}
.icono
{
    font-size: 48px;
    color: white;
    margin: 15px;
    transition: all 0.5s ease;
}
.icono:hover
{
    margin: 15px 20px;
    font-size: 60px;
    color: #ED5AB3;
}