table, tr, th, td
{
    border: 1px solid #333;
    border-collapse: collapse;
    padding: 1px;
    text-align: center;
}
th, td
{
    width: 200px;
}
tr
{
    background-color: #FFF;
}
tr:nth-child(even)
{
    background-color: #EEE;
}
h1
{
    text-align: center;
    color: #EEE2DE;
}
.contenedor
{
    width: 800px;
    margin: 0 auto;
    font-size: 25px;
}
tr:hover
{
    background-color: #B31312;
    color: #EEE;
}
body
{
    background-color: #2B2A4C;
}